@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

html,
body,
#root,
button,
input,
textarea,
select {
  font-family: "Quicksand", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
}